#hearder {
  background-color: rgb(8, 2, 60);
  color: white;
}
#hearder .navbar .navbar-brand img {
  max-width: 80px;
}
#hearder .navbar .innhanh_navbar .navbar-nav .nav-item .nav-link {
  color: white !important;
}

#login {
  background-color: red;
}